<%- include('./partials/head') %>

<main>
  <section class="container">
    <section class="time">
      <h1>Tijd</h1>
        <div>
          <p id="clock" class="clock-time"></p>
          <span id="date" class="date"></span>
        </div>
    </section>

    <section class="birthday">
      <h1>Verjaardagen</h1>
    </section>

    <section class="partners">
      <h1>Sales</h1>
    
    </section>
  </section>
</main>

<%- include('./partials/foot') %>