<%- include('./partials/head') %>

<main>
  <section class="container">
    <section class="time">
      <h1>Time</h1>
    </section>

    <section class="birthday">
      <h1>Birthdays</h1>
    </section>

    <section class="partners">
      <h1>Sales</h1>
    </section>
  </section>
</main>

<%- include('./partials/foot') %>