:root {
    --c-white: white;
    --c-black: black;
  
    --c-purple: #6557b8;
    --c-dark-purple: #352484;
    --c-yellow: #f9c700;
    --c-light: #eeecfb;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  body,
  html {
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--c-black);
    background: var(--c-light);
  }
  
  h1, h2 {
    color: var(--c-pink);
  }

nav {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  nav div {
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--c-purple);
    position: relative;
    z-index: 2;
  }
  
  
  nav div img {
    height: 3em;
    margin-left: 2em;
  }

  .dark-stripe {
    width: 28em;
    height: 6em;
    background-color: var(--c-dark-purple);
  }

  .yellow-stripe {
    width: 28em;
    height: 6em;
    background-color: var(--c-yellow);
  }
  .yellow-stripe-3 {
    width: 28em;
    height: 6em;
    background-color: var(--c-yellow);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
  }

  .dark-stripe-2 {
    width: 28em;
    height: 6em;
    background-color: var(--c-dark-purple);
  }

  .dark-block {
    width: 6em;
    height: 6em;
    background-color: var(--c-dark-purple);
  }

  .light-block {
    width: 6em;
    height: 6em;
    background-color: var(--c-purple);
  }

  .nav-right {
    margin-right: auto;
  }

  .container {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "header footer"
    "main footer";
    gap: 5em;
  }
  .container-2 {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.8fr;
    grid-template-areas: 
    "footer header"
    "footer main";
    gap: 5em;
  }
  .container-3 {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "main footer"
    "main footer";
    gap: 5em;
  }


  .time {
    background-color: white;
    grid-area: header;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 4em;
    box-shadow: 0px 2px 5px 0px rgba(101, 87, 184, 0.4);
  }
  .time-2 {
    background-color: white;
    grid-area: header;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4em;
    box-shadow: 0px 2px 5px 0px rgba(101, 87, 184, 0.4);
  }
  .time-3 {
    background-color: white;
    grid-area: header;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4em;
    box-shadow: 0px 2px 5px 0px rgba(101, 87, 184, 0.4);
  }

  .birthday {
    background-color: white;
    grid-area: main;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 4em;
    box-shadow: 0px 2px 5px 0px rgba(101, 87, 184, 0.4);
  }
  .birthday-2 {
    background-color: white;
    grid-area: main;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4em;
    box-shadow: 0px 2px 5px 0px rgba(101, 87, 184, 0.4);
  }
  .birthday-3 {
    background-color: white;
    grid-area: main;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4em;
    box-shadow: 0px 2px 5px 0px rgba(101, 87, 184, 0.4);
  }

  .partners  {
    background-color: white;
    grid-area: footer;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 4em;
    box-shadow: 0px 2px 5px 0px rgba(101, 87, 184, 0.4);
  }
  .partners-2  {
    background-color: white;
    grid-area: footer;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4em;
    box-shadow: 0px 2px 5px 0px rgba(101, 87, 184, 0.4);
  }
  .partners-3  {
    background-color: white;
    grid-area: footer;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4em;
    box-shadow: 0px 2px 5px 0px rgba(101, 87, 184, 0.4);
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 6em);
  }

  h1 {
    color: var(--c-dark-purple);
    font-size: 2rem;
  }

  .clock-time {
    color: var(--c-purple);
    margin-top: .8em;
    font-size: 4em;
  }
  .clock-time-3 {
    color: var(--c-purple);
    margin-top: .8em;
    font-size: 1.5em;
    margin-right: .5em;
  }

  .date {
    color: var(--c-purple);
    font-size: 3.5em;
  }
  .date-3 {
    color: var(--c-purple);
    font-size: 1.5em;
    margin-right: .5em;
    white-space: nowrap;
  }


  .partner-name {
    margin-top: .6em;
    color: var(--c-purple);
    font-size: 2rem;
    border-bottom: 2px solid var(--c-dark-purple);
    margin-top: -2px;
    padding: .4em;
    margin-left: -14px;
  }

  .partner-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
  }

  .since {
    float: right;
  }

  .partner-name-recent {
    margin-top: .6em;
    color: var(--c-purple);
    font-size: 2rem;
    padding: .4em;
    margin-left: -.5em;
  }

  .partner-time {
    margin-top: -.6em;
    color: var(--c-purple);
    font-size: 2rem;
    padding: .4em;
    margin-left: -.5em;
  }

  .partner-mail, .partner-link {
    margin-top: -.6em;
    color: var(--c-purple);
    font-size: 1.5rem;
    padding: .4em;
    margin-left: -.5em;
  }

  .partner-link {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
    overflow: hidden;
  }

  .birthday-empty {
    color: var(--c-purple);
    font-size: 1.5rem;
    margin-top: 1em;
  }

  @media screen and (max-width: 1550px) {
     h1, .date, .clock-time {
      font-size: 1.6em;
    }

    .birthday, .birthday-2, .birthday-3, .time, .time-2, .time-3, .partners, .partners-2, .partners-3 {
      padding: 2em;
    }

    .partner-name, .since {
      font-size: 1.1rem;
      margin-left: -0.4em;
    }

    .partner-name-recent, .partner-time, .partner-mail, .partner-link {
      font-size: 1.1rem;
    }
  }